@using StudentManagementSystem.Models
@model Student

@{ 
    ViewBag.Title = "Add Student";
}

<form asp-controller="Student" asp-action="Add" method="POST">
    <div id="message" class="text-danger">@ViewData["divMessage"]</div>
    <div class="form-group">
        <label for="FullName">Full name:</label>
        <input class="form-control" asp-for="FullName" placeholder="Full name"/>
    </div>
    <div class="form-group">
        <label for="DateOfBirth"></label>
        <input type="date" class="form-control" asp-for="DateOfBirth" />
    </div>
    <div class="form-group">
        <label for="Email">Email:</label>
        <input type="email" class="form-control" asp-for="Email" />
    </div>
    <div class="form-group">
        <label for="MobileContact">Mobile Contact:</label>
        <input class="form-control" asp-for="MobileContact" />
    </div>
    <div class="form-group">
        <label for="CourseId">Course ID:</label>
        <select class="form-control" asp-for="CourseId">
            <option value="0">-- Select a course --</option>
            @foreach (Course course in (List<Course>)ViewData["courses"])
            {
                <option value="@course.CourseId">@course.CourseName</option>
            }
        </select>
    </div>
    <button class="btn btn-success" type="Submit">Submit</button>
</form>

@section scripts{
    <script>
        let $form = $('form');
        $form.submit((e) => {
            e.preventDefault();

            let student = {};
            let formData = $form.serializeArray();
            for (var i = 0; i < formData.length; i++) {
                student[formData[i].name] = formData[i].value;
            }

            console.log(student);

            $.ajax({
                url: '/api/Student',
                method: 'POST',
                data: JSON.stringify(student),
                contentType: 'application/json',
                dataType: 'json',
                cache: false,
            }).done((data) => {
                console.log(data, data.Success, typeof(data.Success));
                if (data.Success) {
                    window.location.href = '/Student';
                } else {
                    $('#message').html('Failed to add ' + student.FullName + '. Reason: ' + data.Message);
                }

            });
        });
    </script>
}